
/* every page? */
body
{
	background: rgb(28, 28, 28);
	color: rgb(150, 150, 150);
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;

	text-align: left;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

h1
{
	color: rgb(220, 220, 220);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 32px;
}

h2
{
	color: rgb(220, 220, 220);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
}

b
{
	color: rgb(220, 220, 220);
}

header
{
	text-align: center;
	width: 100%;
}

footer
{
	text-align: center;
	width: 100%;
}
